version: 2
jobs:
  build:
    docker:
      # Bump cache key versions below when changing elixir version
      - image: circleci/elixir:1.6.6
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-dependency-cache-{{ checksum "mix.lock" }}
            - v4-dependency-cache
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile
      - run:
          command: mix compile
          environment:
            MIX_ENV: test
      - save_cache:
          key: v4-dependency-cache-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps
            - ~/.mix
      - restore_cache:
          keys:
            - v4-plt-cache-{{ checksum "mix.lock" }}
            - v4-plt-cache
      - run: mix dialyzer --plt
      - save_cache:
          key: v4-plt-cache-{{ checksum "mix.lock" }}
          paths:
            - _build
            - ~/.mix
      - run: mix dialyzer --halt-exit-status
      - run: mix credo
      - run: mix test
